<%if shirts%>
  <ul class="shirt_list">
    <%shirts.each {|shirt|%>
    <li>
      <a href="/shirts/<%=shirt.id%>">
        <div class="each_shirt">
        
        <img class="list_image" src="<%=shirt.image%>">
        <h4>
        <span class="shirt_brand"><%=shirt.brand%></span>  <span class="shirt_name"><%=shirt.name%></span>
        </h4>
        <span class="shirt_price">$<%=shirt.price%></span>
        </div>
      </a>
    </li>
  <%}%>
  </ul>
    <%else%>
    <div class="wrong">
        <img class="sorry" src="#">
        <p> Sorry we don't have any T-shirts of that nature</p>
    </div>

<%end%>
