<%if shirts%>
  <ul class="shirt_list">
    <%shirts.each {|shirt|%>
    <li>
      <a href="/shirts/<%=shirt.id%>">
        <div class="each_shirt">
        
        <img class="list_image" src="<%=shirt.image%>">
        <h4>
        <span class="shirt_brand"><%=shirt.brand%></span>  <span class="shirt_name"><%=shirt.name%></span>
        </h4>
        <span class="shirt_price">$<%=shirt.price%></span>
        </div>
      </a>
    </li>
  <%}%>
  </ul>
    <%else%>
    <div class="wrong">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0  1079 922" preserveAspectRatio="xMidYMid meet" zoomAndPan="disable"><defs id="svgEditorDefs"><path id="svgEditorClosePathDefs" stroke="black" fill="khaki" style="vector-effect: non-scaling-stroke; stroke-width: 1px;"/></defs><rect id="svgEditorBackground" x="0" y="0" width="1079" height="922" style="fill: none; stroke: none;"/><path stroke="black" id="e1_shape" style="vector-effect: non-scaling-stroke; stroke-width: 1px;" fill="red" transform="matrix(2.5 0 0 2.01563 125 244)" d="M72.4000015258789,-94.07749938964844h-8v-16c0,-4.418998718261719,-3.5810012817382812,-8,-8,-8h-96c-4.418998718261719,0,-8,3.5810012817382812,-8,8v32c0,4.418998718261719,3.5810012817382812,8,8,8h96c4.418998718261719,0,8,-3.5810012817382812,8,-8v-8h8v24h-56c-4.418998718261719,0,-8,3.5810012817382812,-8,8v16c-4.418998718261719,0,-8,3.5810012817382812,-8,8v32c0,4.418998718261719,3.5810012817382812,8,8,8h8c4.418998718261719,0,8,-3.5810012817382812,8,-8v-32c0,-4.418998718261719,-3.5810012817382812,-8,-8,-8v-16h56c4.418998718261719,0,8,-3.5810012817382812,8,-8v-24c0,-4.418998718261719,-3.5810012817382812,-8,-8,-8Z"/></svg>
        <p> Sorry we don't have any T-shirts of that nature</p>
    </div>

<%end%>
