<%= erb :"partials/header" %>
<h2>Add a shirt</h2>
<form class="add_shirt" action="/shirts" method="POST">
  <input type="text" name="name" placeholder="t-1000">
  <input type="text" name="color" placeholder="rainbow">
  <input type="number" name="quantity" placeholder="1">
  <input type="number" name="price" placeholder="88">
  <input type="text" name="image" placeholder="Add shirt url">
  <input type="text" name="brand" placeholder="BFGY">
  <input type="submit" class="update" value="CONFIRM/UPDATE">
</form>
<%if shirts%>
  <ul class="shirt_list">
    <%shirts.each {|shirt|%>
    <li>
      <div class="shirts_list">
        <a href="/shirts/<%=shirt.id%>">
        <img src="<%=shirt.image%>">
        </a>
        <h4>
        <span class="shirt_brand"><%=shirt.brand%></span>
        <span class="shirt_name"><%=shirt.name%></span>
        </h4>
        <span class="shirt_price"><%=shirt.price%></span>
        <a class="linkButton" href="/shirts/<%=shirt.id%>/admin">EDIT</a>
        <form method="POST" action="/shirts/<%=shirt.id%>">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="DELETE">
        </form>
      </div>
    </li>
  <%}%>
  </ul>
    <%else%>
    <div class="wrong">
        <img class="sorry" src="#">
        <p> Sorry we don't have any T-shirts of that nature</p>

<%end%>


<%= erb :"partials/footer" %>
